:root {
  --navbar: #2e2e40;
  --background: #cdcccd;
  --secondary: #5854bf;
  --primary: #635ef2;
  --other: #ddd;
  --text-gray: #c0c1c1;
}

* {
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  font-family: "Secular One", sans-serif;
}

/*==================================HEADER==================================*/
header {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--navbar); */
  /* background-color: #ababab; */
  background: linear-gradient(
    108deg,
    rgba(88, 84, 191, 1) 0%,
    rgba(18, 6, 99, 1) 100%,
    rgba(24, 20, 154, 1) 100%
  );
  height: 7vh;
  position: fixed;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.no-points {
  list-style: none;
  display: flex;
  padding-right: 30px;
  gap: 20px;
}

.logo-img {
  width: 150px;
}
.logo {
  width: 100px;
}
a {
  color: #bbbbbb;
  opacity: 0.7;
}

a:hover {
  color: #fff;
  transition: all 0.3s;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

/*==================================MAIN==================================*/

main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: var(--navbar); */
  background: rgb(88, 84, 191);
  background: linear-gradient(
    108deg,
    rgba(88, 84, 191, 1) 0%,
    rgba(18, 6, 99, 1) 100%,
    rgba(24, 20, 154, 1) 100%
  );
}

#hero {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  max-width: 1000px;

  color: white;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 30px;
  margin-top: 120px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero-text p {
  color: var(--text-gray);
  margin-top: 10px;
  max-width: 500px;
}

.hero-text h1 {
  font-weight: 1000;
  font-size: 2.3em;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.button1,
.button2 {
  padding: 5px 25px 5px 25px;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  cursor: pointer;
}

.button1 {
  background-color: #2e2e40;
  border: none;
  color: #fff;
}
.button2 {
  color: var(--navbar);
  border: none;
}

/*======================================INFO SECTION==========================*/

#info {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(18, 6, 99, 1) 100%;
  max-width: 700px;
  /* border: 1px solid #111; */
  color: white;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 30px;
}
#info div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#info div p {
  color: var(--text-gray);
}

#info div p span,
.hero-text p span {
  font-weight: 800;
  color: #ddd;
}
/*========================CARD SECTION==================== */

#card-section {
  display: flex;
  max-width: 1300px;
  padding-top: 120px;
  gap: 20px;
}

.card1-img,
.card2-img,
.card3-img {
  width: 70px;
}

.card1,
.card2,
.card3 {
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  border: 5px solid var(--primary);
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 20px;
  width: 350px;
  text-align: center;
}

.card1 h3,
.card2 h3,
.card3 h3 {
  color: #fff;
}

.card1 p,
.card2 p,
.card3 p {
  font-size: 0.9em;
}

/*==================CONTACTANOS===============*/

#contact {
  display: flex;
  max-width: 1200px;
  background-color: rgba(88, 84, 191, 0.3);
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  margin-top: 120px;
}
.contactanos {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SUPERCONTENEDOR {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 80%;
}

.SUPERCONTENEDOR h3 {
  font-size: 1.7em;
  padding-bottom: 80px;
  color: #fff;
}

.contact-cards {
  display: flex;
}

.izquierda-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-gray);
}

.derecha-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-gray);
}

.contact-img_logos {
  width: 20px;
}

.contact-img {
  width: 30%;
}
